# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\03 Universidad 2020-2021\2nd Semestre\03 Visió Computadores\03 Pràcticas\4 Proyecto\0Material\04 Colab\Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
